[Desktop Entry]
Name=WARP Control
Exec=/usr/bin/warp-control
Icon=com.devruby.warpcontrol
Type=Application
Categories=Network;Utility;
StartupNotify=false
