<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>WARP Control</vendor>
  <vendor_url>https://github.com/robler/warp-control</vendor_url>

  <action id="com.robler.warpcontrol.install-warp">
    <description>Instalar el cliente oficial Cloudflare WARP</description>
    <message>Se necesita autenticación para añadir el repositorio oficial e instalar Cloudflare WARP.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/warp-control/install-warp</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>

  <action id="com.robler.warpcontrol.restart-warp">
    <description>Reiniciar el servicio Cloudflare WARP</description>
    <message>Se necesita autenticación para reiniciar warp-svc.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/warp-control/restart-warp</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
